$ff-prime: 'TrebuchetMS', sans-serif;
$ff-title: 'Exo', sans-serif;

$fz-xs: 13px;
$fz-s: 14px;
$fz-m: 16px;
$fz-l: 24px;
$fz-xl: 48px;

$lh-xs: 15px;
$lh-s: 16px;
$lh-m: 18px;
$lh-l: 28px;
$lh-xl: 55px;

$clr-card-def: #1698D9;
$clr-card-def-h: #2EA8E6;
$clr-card-select: #D91667;
$clr-card-select-h: #E52E7A;
$clr-card-dis: #B3B3B3;

$clr-text-black: #000000;
$clr-text-grey: #666666;
$crl-text-descr: #FFFFFF;
$clr-text-descr-dis: #FFFF66;

$card-b-radius: 12px;