$ff-prime: 'TrebuchetMS', sans-serif;
$ff-title: 'Exo', sans-serif;

$fz-xs: 13px;
$fz-s: 14px;
$fz-m: 16px;
$fz-l: 24px;
$fz-xl: 36px;
$fz-xxl: 42px;
$fz-xxxl: 48px;

$fw-s: 100;
$fw-m: 400;
$fw-l: 700;

$lh-xs: 15px;
$lh-s: 16px;
$lh-m: 18px;
$lh-l: 28px;
$lh-xl: 44px;
$lh-xxl: 55px;

$clr-card-def: #1698D9;
$clr-card-def-h: #2EA8E6;
$clr-card-select: #D91667;
$clr-card-select-h: #E52E7A;
$clr-card-dis: #B3B3B3;

$clr-black: #000000;
$clr-grey: #666666;
$clr-white: #FFFFFF;
$clr-yellow: #FFFF66;

$card-b-radius: 12px;